.container {
  min-height: 100vh;
}

.main {
  min-height: 100vh;
}
.contract-wrap {
  overflow: hidden;
}
.contract {
  height: 80px;
  line-height: 80px;
  float: right;
  margin-right: 60px;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  &:hover::after {
    width: 100%;
    transition: width 0.3s ease-out;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #000;
    top: 56px;
  }
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 600ms;
}
