.container {
  min-height: 100vh;
}

.main {
  min-height: 100vh;
}
.contract-wrap {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contract {
  height: 40px;
  width: 90px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  margin-right: 60px;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    background-color: #111;
    color: #fff;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
  }
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 600ms;
}
.scroll-tip {
  position: fixed;
  bottom: 30px;
  left: 120px;
  mix-blend-mode: difference;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.scroll-tip-active {
  opacity: 0.99;
}
